/* Ensure the body takes the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}



@media (min-width: 768px) {
    html {
        font-size: 16px; /* Larger font size for larger screens */
    }
}



/* Buttons */
.btn {
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text for emphasis */
}

.btn-primary:hover {
    background-color: #162e6d; /* Slightly darker shade for hover effect */
    border-color: #162e6d;
}

/* Navigation Bar */
.navbar .navbar-brand {
    font-weight: bold;
    color: #0056b3; /* Deep blue color */
}

.navbar .nav-link {
    color: #333; /* Neutral link color */
    font-weight: 500; /* Slightly bold */
}

.navbar .nav-link:hover {
        color: #0056b3; /* Hover color for links */
    }





