@model EducationalPlatformWebApp.Models.Achievement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Achievement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BadgeId" class="control-label"></label>
                <select asp-for="BadgeId" class ="form-control" asp-items="ViewBag.BadgeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LearnerId" class="control-label"></label>
                <select asp-for="LearnerId" class ="form-control" asp-items="ViewBag.LearnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AchievementDescription" class="control-label"></label>
                <input asp-for="AchievementDescription" class="form-control" />
                <span asp-validation-for="AchievementDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AchievemrnDateEarned" class="control-label"></label>
                <input asp-for="AchievemrnDateEarned" class="form-control" />
                <span asp-validation-for="AchievemrnDateEarned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AchievementType" class="control-label"></label>
                <input asp-for="AchievementType" class="form-control" />
                <span asp-validation-for="AchievementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
